@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/*header start*/

nav{
    display: flex;
    height: 70px;
    width: 100%;
    background: rgb(20, 20, 20);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #dd5928;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 0px 0 0px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: rgb(20, 20, 20);
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }  
/*header end*/

/*slider start*/

.slider1-button{
    position: relative;
}
.img-button{
    position: absolute;
    background-color:#dd5928;
    top:350px;
    left:100px;
    
}

#slider{
    overflow: hidden;
  }
  
  #slider figure{
    position: relative;
    width: 500%;
    margin:0;
    left: 0;
    animation: 10s slider infinite;
  }
  
  #slider figure img{
    width: 20%;
    float: left;
  }
  
  @keyframes slider{
    0% {
        left: 0;
    }
    20% {
      left: 0;
    }
    25% {
      left: -100%
    }
    45% {
      left: -100%;
    }
    50% {
      left: -200%;
    }
    70% {
      left: -200%;
    }
    
  }
  /*slider end*/

  /* GRID START */
.image-description{
    display: grid;
    grid-template-columns: 1fr;
    width:100%;
    margin: auto;
    row-gap:20px;

}

.imagediv1{
    align-items: center;
    margin: auto;
    position: relative;
}
.pic-text{
    position: absolute;
    top: 400px;
    left: 50px;
    font-size: 20px;
    color: white;
}

.imagediv1 img{
    width: 100%;
    height: 500px;
    margin: auto;
}
.imagediv2{
    align-items: center;
    margin: auto;
}
.imagediv2 img{
    width: 100%;
    height: 500px;
    margin: auto;
}
@media screen and (max-width: 1074px){
    .image-description{
      grid-template-columns: 1fr;
    }
  }
/*GRID END*/


/*ABOUT US START*/

.aboutimage{
  position: relative;
}

.aboutimage img{
width: 100%;
filter: brightness(40%)

}

.abouttxt{
  position: absolute;
  top: 250px;
  left: 100px;
  font-size: 20px;
  color: white;
}

.abouttxt p{
  color: white;
  left: 50px;
}
.aboutus-text-container{
  text-align: center;
  width: 85%;
  padding-left: 100px;
}
.aboutus-text{
  text-align: center;
  font-size: 30px;
  
}
.aboutus-text p{
  font-size: 20px;
  color: #616161;
  font-family:'Avenir Next';
}

.management-team{
  text-align: center;
  font-size: 30px;
}

.img-area{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single-img{
  padding: 0 20px 20px;
}

.img:hover{
  opacity: .5;
  transition: .9s;
}

/*ABOUT US END*/



/*contact start*/

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(img/mobilebank.png);
  background-size: cover;
}

.contact .content1{
  max-width: 800px;
  text-align: center;
}

.contact .content1 h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content1 p{
  font-weight: 300;
  color: #fff;
}

.container1{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container1 .contactinfo{
  width: 50%;
  display:flex;
  flex-direction: column;
}
.container1 .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container1 .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 22px;
}

.container1 .contactinfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container1 .contactinfo .box .text h3{
  font-weight: 500;
  color: #dd5928;
}

.contactForm{
  width:40%;
  padding: 40px;
  background: #fff;
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top:10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width:100%;
  padding: 5px 0;
  font-size:16px;
  margin:10px 0;
  border:none;
  border-bottom: 2px solid #333;
  outline:none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left:0;
  width:100%;
  padding: 5px 0;
  font-size:16px;
  margin:10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
color: #e91e63;
font-size:12px;
transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
  width: 100px;
  background: #dd5928;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size:18px;
}

@media (max-width: 991px){
  .contact
  {
    padding: 50px;
  }

  .container1
  {
    flex-direction: column;
  }

  .container1 .contactinfo
  {
    margin-bottom: 40px;
  }

  .container .contactinfo,
  .contactForm
  {
    width: 100%;
  }
}

/*contact end*/











/*FOOTER START*/

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 22%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #dd5928;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #dd5928;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color:#ffffff;
	background-color: #dd5928;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*FOOTER END*/

